In [1]:
import pandas as pd

file = "./materials.csv"

In [2]:
df = pd.read_csv(file)

In [3]:
df

             name   domain  smiles  inchi_key  query match            sections
0     Baking soda      Gas     NaN        NaN          0.0  claims|description
1           Water  Effects     NaN        NaN          0.0         description
2  Styrofoam glue  Anatomy     NaN        NaN          0.0         description
3          Cotton  Effects     NaN        NaN          0.0         description